.busca_um{
    width:70vw;
    height: 80px;
    background-color:#616161 ;
    margin:0 auto;
}
.busca_dois{
    width:20vw;
    height: 18px;
    background-color:#616161 ;
    margin:0 auto;
    border-radius: 0 0 18px 18px;
}
.caixa-principal{
    width: 50vw;
    background-color: white;
    margin:0 auto;
}
.pokedex{
    text-align: center ;
}
.container-pokemon{
    margin-top: 50px;
    background-color: white;
    width: calc(48vw /4);
    border: 8px solid white;
    box-sizing: border-box;
    display: inline-block;
}
.container-pokemon:hover{
    position: relative;
    top: -5px;
    cursor: pointer;    
}
.imagem-pokemon, .status{
    background-color: #F2F2F2;
    height: 205px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}
.numero-pokemon{
    color: #919191;
    width: 90%;
    margin: 4px auto;
    font-size: 12.8px;
    font-weight: bold;
    text-align: left;
}
.nome-pokemon{
    color:black;
    width: 90%;
    margin: 10px auto;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}
.nome-pokemon::first-letter{
text-transform: uppercase;
}
.container-tipo{
 display: flex;
 flex-direction: row;
}
.tipo1, .tipo2{
    display: inline-block;
    width: 73px;
    height: 18px;
    background-color: #919191;
    border-radius: 9px; 
    display: inline-block;
    text-align: center;
    line-height: 19px;
    font-size: 14px;
    
}
.tipo1{margin:5px 0px 5px 5%;}
.tipo2{margin:5px 5px 5px 2px;}
.imagem-pokemon{cursor: pointer;}
/* Status Individuais */
.status{
    display: none;
}
.container-pokemon:active .imagem-pokemon{
    display: none; 
}
.statushover:active .status{
    display: inline-block;
    border: 1px solid #cccccc;
    background-size: contain;
    
    
}
.base-titulo{
    font-weight: bold;
    font-size: 20px;
    padding: 5%;
    font-style: italic;
}

.load-pagina{
text-align: center;
}

.mais-pokemons{
    background-color:white;
    background-size: contain;
    color: black;
    border-radius: 10px;
    padding: 1%;
    margin: 8%;
    box-shadow: none;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 800;
    opacity: .9;
}
.mais-pokemons:hover{
    cursor: pointer;
    scale: 1.1;
    opacity: 1;
    color: white;
    background-image: url(../images/bg_1.png);
}

/* Responsivo */


@media screen and (max-width: 1500px) {
 .container-pokemon{ width: calc(48vw /3); }  
}

@media screen and (max-width: 1080px) {
 .container-pokemon{ width: calc(48vw /2); } 
}
@media screen and (max-width: 750px) {
    .container-pokemon{width: calc(30vw ); }  
}
@media screen and (max-width: 750px) {
    .container-pokemon{
        width: calc(45vw );}
}


/* individual */

.caixa-status{
    width: 100%;
    height: 164px;
    display: flex;
    flex-direction: row;
}

.status-individual{
  
    font-weight: bold;
    font-size: 13px;
    padding: 7px 1%;
    text-align: center;
}
.esquerda{
    width: 50%;
   
}
.direita{
    padding: 2%;
    width: 50%;
   
}
.baixo:first-child{
    width: 100%;
    height: 7px;
    background-color: white;
    margin-top: 6px;
}
.baixo{
    width: 100%;
    height: 7px;
    background-color: white;
    margin-top: 14px;
}
.cima{
    height: 4px;
    background-color: lightskyblue;
    position: relative;
    top: -6px;
    border: 1px ridge #78c4fd;
}




















/* Cores dos cards */

.steel {
	background-color: #9eb7b8;
}

.fire {
    color: white;
	background-color: #fd7d24;
}

.grass {
	background-color: #9BCC50;
}

.electric {
	background-color: #EED535;
}

.water{
	background-color: #4592c4;
    color:white
}
.ice {
	background-color: #51c4e7;
}

.ground {
	background-image:linear-gradient(to bottom, #f7de3f , #ab9842 );
}

.rock {
	background-color: #a38c21;
    color: white;
}

.fairy {
	background-color: #fdb9e9;
}

.poison {
    color: white;
	background-color: #b97fc9;
}

.bug {
	background-color: #729f3f;
    color:white;
}

.dragon {
	background-image: linear-gradient(to bottom, #53a4cf , #f16e57 );
}

.psychic {
	background-color: #f366b9;
    color: white;
}

.flying {
	background-image: linear-gradient(to bottom, #5EB2E3, #bdb9b8);
}

.fighting {
	background-color: #d56723;
    color: white;
}

.normal {
	background-color: #A4ACAF;
}
.undefined{
    display: none;
}
.ghost{
    background-color: #7b62a3;
}
.dark{
    background-color: #707070;
    color: white;
}

